*.ipynb
.vscode/
*bin
*charts
*docker-compose*
*compose*
*Dockerfile*
*node_modules
*npm-debug.log
*obj
*.yaml
*.yml
Dockerfile
LICENSE
README.md
Jenkinsfile
__pycache__
venv/
env/
*.venv
*.env
.dockerignore
.git
.gitignore
secrets.toml
scraper/