[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
polars = "*"
pandas = "*"
streamlit = "*"
plotly = "*"
streamlit-aggrid = "*"
altair = "*"
streamlit-extras = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
